@if(status.type === 'success')
<div class="rounded-md bg-blue-50 p-4">
  <div class="flex">
    <div class="ml-3 flex-1 md:flex md:justify-between">
      <p class="text-sm text-blue-700">
        {{ status.message }}
      </p>
    </div>
  </div>
</div>
@else
<div class="rounded-md bg-red-50 p-4">
  <div class="flex">
    <div class="ml-3">
      <h3 class="text-sm font-medium text-red-800">
        {{ status.message }}
      </h3>
    </div>
  </div>
</div>
@endif